.app-social-buttons {
     margin-top:1.25rem;
     display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    button + span {
        display: flex;
        width: 100%;
        button {
             color: #fff !important;
        }
    }
    button {
            color: #666 !important;
            margin-bottom:1.25rem;
            width: 100%;
            justify-content: center;
            // padding:15px 45px !important;
    }
}

.app-login-otp-btn {
    background:#fff !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) !important;
    color:#2874f0 !important;
    padding:15px 45px !important;


    
}

.app-login-or-text {
    text-align: center; 
    font-size: 14px; 
    padding:0px; 
    margin:1.25rem 0px 1.25rem 0px;
    font-weight:700;
    color: #666;
}